*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* header section */
.nav-container{
    width: 100%;
    max-width: 1600px;
}

.nav-bar{
    width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    padding: 16px 0px;
}
.nav-bar ul{
    list-style-type: none;
    display: flex;
    gap:32px;
}
.nav-bar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.nav-bar .btn{
    text-decoration: none;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* hero section banner */
.hero-container{
    width: 100%;
    min-height: 100vh;
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-box{
    width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-box a{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    color: #30b868;
    background-color: #fff;
    border-radius: 100px;
    margin-top: 115px;
}
.hero-text{
     text-align: center;
}
.hero-box h1{
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    margin-top: 16px;
}
.hero-text h1 .hero-green{
    color: #30b868;
}
.hero-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    color: #fff;
}
.hero-box .content-btn{
    margin-top: 32px;
    display: flex;
    gap: 16px;
}
.hero-box .content-btn .btn{
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  color: #ffffff;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-box .content-btn .second{
   font-size: 16px;
  font-weight: 600;
  padding: 16px;
  color: #30b868;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Card Section */
.card-container{
    width: 100%;
    padding: 120px 20px 0px 20px;
}

.card-container .card-box{
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}
.card-container .card-box h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card-container .card-box p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}

.card-container .card-box .skill-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    
}

.card-container .card-box .skill-box .skill-card{
    /* background-color: #0e5a7a; */
    border-radius: 8px;
    padding: 70px 24px 21px 24px;
    text-align: center;
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.06) ;
}

.card-container .card-box .skill-box .skill-card img{
    
    background-color:#f95555;
    padding: 14px;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-bottom: 16px;
}

.card-container .card-box .skill-box .skill-card h3{
    font-size: 24px;
    font-family: 600px;
    color: #001931;
    margin-bottom: 16px;
}
.card-container .card-box .skill-box .skill-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


/* idea section */
.idea-container{
    width: 100%;
    padding: 120px 0;
}

.idea-container .idea-box{
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.idea-container .idea-content .subtitle{
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 16px;
}

.idea-container .idea-content h2{
    font-size: 48px;
    font-weight: bold;
     /* line-height: 26px; */
    color: #001931;
    margin-bottom: 16px;
}

.idea-container .idea-content .idea-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.idea-container .idea-content ul{
    list-style-type: none;
}

.idea-container .idea-content ul li{
    display: flex;
    gap: 6px;
    align-self: center;
    margin-bottom: 16px;
}
.idea-container .idea-content ul li p{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}



/* Ready container */

.ready-container{
    width: 100%;
}

.ready-container .ready-box{
    max-width: 1360px;
    margin: 0px auto 120px auto;
    background-color: #f7f6f2;
    border-radius: 12px;
}
.ready-box .ready-content{
      text-align: center;
      max-width: 1280px;
      padding: 80px 40px;
}

 .ready-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
 .ready-content .ready-subtext1{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #627382;
   margin-bottom: 24px;
}
.ready-content .btn{
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    color: #fff;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}
.ready-content .ready-subtext2{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #627382;
}


/* footer section */

.footer-container {
    width: 100%;
    background-color: #001931;
}

.footer-box{
    max-width: 1360px;
    margin: 0px auto;
    text-align: left;
}

.footer-box .media-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px 120px;
}

.media-box p{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.media-box .social-links{
    display: flex;
    gap: 16px;
}

.media-box .social-links .icon{
    width: 30px;
    height: 30px;
    color: #000000;
    background-color: #fff;

    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-box .copyright{
    font-size: 16px;
    font-weight: 400;
    color: #fafafa;
    border-top: 1px solid #627382;
    padding: 30px;
}