*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.nav-container{
    width: 100%;
    max-width: 1600px;
}

.nav-bar{
    width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    padding: 16px 0px;
}
.nav-bar ul{
    list-style-type: none;
    display: flex;
    gap:32px;
}
.nav-bar ul li p{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.nav-bar button{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #30b868;
    border: none;
    cursor: pointer;
}